.breadCrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 3rem 0 ;
}

.breadcrumb-link {
  color: #6b7280;
  text-decoration: none;
  transition: color 0.2s ease;
}

.breadcrumb-link:hover {
  color: #1c1c1c;
  text-decoration: underline;
}

.breadcrumb-separator {
  margin: 0 6px;
  color: #6b7280;
}

.breadcrumb-current {
  color: #000;
  font-weight: 500;
}

@media (max-width:425px) {
  .breadCrumb {
   margin: 1rem;
  }
}